<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwLQo-Uw5R8YJNCtJGBInIvzK63jJVKV8</string>
	<key>GCM_SENDER_ID</key>
	<string>1014516306629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Johns-Hopkins.YPick</string>
	<key>PROJECT_ID</key>
	<string>ypick-1eb96</string>
	<key>STORAGE_BUCKET</key>
	<string>ypick-1eb96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014516306629:ios:325408e3e1443700cc96ac</string>
</dict>
</plist>